.flex {
    display: flex !important; /* I'm SO sorry */
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.word {
    display: inline-block;
    padding: 0 12px;
    border-radius: 18px;
    font-size: 23px;
    font-family: 'Helvetica Neue';
    font-weight: 200;
    margin: 6px 10px;
    color: #fff;
}
